#adventure {
  background-color: white;
  white-space: pre;
  margin: 25px;
}

.content-fragment-wrapper{
   display: flex;
   height: 100%;
   position: relative;
} 

section:nth-child(1) {
  flex: 1;
}

section:nth-child(2) {
  position: absolute;
  padding-left: 25px;
  top: 20px;
  left: 50px;
  right: 50px;
  bottom: 10px;
  background-color: rgb(0 0 0 / 40%)
}

section:nth-child(3) {
  position: absolute;
  padding-left: 25px;
  top: 80px;
  left: 50px;
  right: 50px;
  bottom: 10px;
  color: white;
}

section:nth-child(4) {
  position: absolute;
  padding-left: 25px;
  top: 170px;
  left: 50px;
  right: 50px;
  bottom: 10px;
  color: yellow;
}

section:nth-child(5) {
  position: absolute;
  padding-left: 25px;
  top: 190px;
  left: 50px;
  right: 50px;
  bottom: 10px;
  color: yellow;
}

section:nth-child(6) {
  position: absolute;
  padding-left: 25px;
  top: 210px;
  left: 50px;
  right: 50px;
  bottom: 10px;
  color: yellow;
}

section:nth-child(7) {
  position: absolute;
  padding-left: 25px;
  top: 230px;
  left: 50px;
  right: 50px;
  bottom: 10px;
  color: yellow;
}

section:nth-child(8) {
  position: absolute;
  padding-left: 25px;
  top: 260px;
  left: 50px;
  right: 50px;
  bottom: 10px;
  color: white;
}

#slug {
  visibility: hidden;
}

#adventure .text {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ebebeb;
  padding: 3.5em 2em 2em;
}

img {
  width: 1200px;
}

.content-fragment-wrapper h3 {
  color: white;
  font-size: 24px;
}

.content-fragment-wrapper h2 {
  color: white;
  font-size: 24px;
}

